.container-health-page {
    height: calc(100vh - 100px);

    .button-health {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        align-items: center;

        .button-allergies, .button-wound,
        .button-diseases {
            width: 55%;
            padding: 4%;
            background-color: #F2865E;
            opacity: 0.8;
            border-radius: 9px;
            box-shadow: 1px 2px 5px grey;
            margin-top: 8.8%;
            a {
                color: white;
                text-decoration: none;
                font-size: 18px;
                font-weight: 400;
            }
        }
        .button-allergies {
            margin-top: 0 !important;
        }
    }
}


.container-health {
    a {
        color: #000;
        text-decoration: none;
    }

    .container {
        &:first-child {
            margin-top: 18%;
        }
        margin-top: 6.4%;
    }
    p {
        margin: 0;
    }

    .health-card {
        width: 88%;
        margin-left: 6%;
        background-color: #fff;
        border-radius: 9px;
        padding: 2.5% 6%;
        display: flex;
        flex-direction: row;

        .date-health {
            width: 30%;
            display: flex;
            flex-direction: column;
            .day {
                p {
                    font-size: 32px;
                }
            }
            .month_year {
                display: flex;
                flex-direction: row;
                .month {
                    margin-right: 6%;
                    p {
                        font-size: 12px;
                    }
                }
                .year {
                    p {
                    font-size: 12px;
                    }
                }
            }
        }

        .info-health {
            width: 70%;
            align-self: center;
            padding-left: 10%;

            .health-title-name, .health-date {
                p {
                    font-size: 20px;
                }
            }

        }

    }
}

.health-details {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
    .card-health-detail {
        width: 85%;
        margin-left: 7.5%;
        background-color: white;
        border-radius: 10px;
        .health-container {
            padding-top: 5%;
            .health-date {
                text-align: left;
                margin-left: 30%;
                span {
                    font-size: 20px;
                    margin-right: 4%;
                }
            }
        }
    }
    .edit-pet {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10%;

        a {
            width: 40%;
            font-size: 18px;
            margin-right: 2.5%;
            background-color: #827EF2;
            border-color: transparent;
        }

        form {
            width: 40%;

            button {
                width: 100%;
                font-size: 18px;
                color: #fff;
                background-color: #FF6F6F;
                border-color: transparent;
            }
        }
    }
}


.edit-health {
    .card-body {
        margin-top: 15%;
        flex: 0;
        padding: 0;

        form {
            width: 80%;
            margin-left: 10%;

            .form-date {
                margin-top: 6%;
                .date {
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            .btn-submit {
                text-align: center;
                margin-top: 50%;
                color: #fff;
                background-color: #827EF2;
                border: none;
                border-radius: 8px;
                box-shadow: 1px 5px 8px lightgrey;
                button {
                    background-color: transparent;
                    border-color: transparent;
                    font-size: 18px;
                }
            }
        }
    }
}

.create-health {
    .card-body {
        margin-top: 15%;
        flex: 0;
        padding: 0;

        form {
            width: 80%;
            margin-left: 10%;


            .form-date {
                margin-top: 6%;
                .date {
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            .btn-submit {
                text-align: center;
                margin-top: 50%;
                button {
                    color: #fff;
                    background-color: #827EF2;
                    padding: 3% 8%;
                    font-size: 18px;
                    border: none;
                    border-radius: 8px;
                    box-shadow: 1px 5px 8px lightgrey;
                }
            }
        }
    }


}