.container-hygiene-page {
    height: calc(100vh - 100px);

    .button-hygiene {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        align-items: center;

        .button-baths, .button-claws,
        .button-foods, .button-grooming,
        .button-litters, .button-teeth {
            width: 55%;
            padding: 4%;
            background-color: #FFB5B1;
            opacity: 0.8;
            border-radius: 9px;
            box-shadow: 1px 2px 5px grey;
            margin-top: 8.8%;
            a {
                color: white;
                text-decoration: none;
                font-size: 18px;
                font-weight: 400;
            }
        }
        .button-foods {
            margin-top: 0 !important;
        }
    }
}
