.container-user-profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .user-details {
        margin-top: 6.5%;

        .description-user {
            background-color: white;
            width: 70%;
            margin-left: 15%;
            margin-top: 5%;
            padding: 4%;
            border-radius: 10px;
        }
        .general-infos, .contact-infos {
            text-align: left;
            margin-top: 10.5%;
            margin-left: 10%;
            width: 80%;

            .title {
                p {
                    font-size: 18px;
                    opacity: 0.5;
                }
            }

            .description {
                background-color: white;
                border-radius: 9px;
                padding: 2% 5%;
                margin-top: 2.5%;
                .username, .email, .phone-number {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 2%;
                    .logo {
                        p {
                            font-size: 12px;
                            opacity: 0.8;
                            margin: 0;
                        }
                    }
                }
            }
        }
        .edit {
           text-align: center;
           margin-top: 10%;
           a {
            width: 40%;
            font-size: 18px;
            margin-right: 2.5%;
            margin-left: 2.5%;
            background-color: #827EF2;
            border-color: transparent;

           }
        }
    }


}

.edit-profile {
    .about-form {
        width: 80%;
        margin-left: 10%;

        #about {
            border-radius: 10px;
            border: none;
            background-color: white;
            box-shadow: 1px 6px 8px lightgray;
        }
    }
    .btn-submit {
        margin-top: 20%;
    }
}