.container-treatment {
    a {
        color: #000;
        text-decoration: none;
    }

    .container {
        &:first-child {
            margin-top: 18%;
        }
        margin-top: 6.4%;
    }
    p {
        margin: 0;
    }

    .treatment-card {
        width: 88%;
        margin-left: 6%;
        background-color: #fff;
        border-radius: 9px;
        padding: 2.5% 6%;
        display: flex;
        flex-direction: row;

        .date-treatment {
            width: 30%;
            display: flex;
            flex-direction: column;
            .day {
                p {
                    font-size: 32px;
                }
            }
            .month_year {
                display: flex;
                flex-direction: row;
                .month {
                    margin-right: 6%;
                    p {
                        font-size: 12px;
                    }
                }
                .year {
                    p {
                    font-size: 12px;
                    }
                }
            }
        }

        .info-treatment {
            width: 70%;
            align-self: center;
            padding-left: 10%;

            .treatment-name, .treatment-quantite {
                p {
                    font-size: 20px;
                }
            }

        }

    }
}

.add-treatment {
    margin-top: 30%;
}
.btn-submit {
    text-decoration: none;
    text-align: center;
    margin-top: 50%;
    color: #fff;
    background-color: #827EF2;
    padding: 3% 8%;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 5px 8px lightgrey;
}
.treatment-details {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
    .card-treatment-detail {
        width: 85%;
        margin-left: 7.5%;
        background-color: white;
        border-radius: 10px;
        .treatment-container {
            padding-top: 5%;
            .treatment-quantite, .treatment-name, .treatment-date {
                text-align: left;
                margin-left: 20%;
                span {
                    font-size: 20px;
                    margin-right: 4%;
                }
            }
        }
    }
    .edit-pet {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10%;

        a {
            width: 40%;
            font-size: 18px;
            margin-right: 2.5%;
            background-color: #827EF2;
            border-color: transparent;
        }

        form {
            width: 40%;

            button {
                width: 100%;
                font-size: 18px;
                color: #fff;
                background-color: #FF6F6F;
                border-color: transparent;
            }
        }
    }
}

.edit-treatment {
    .card-body {
        margin-top: 15%;
        flex: 0;
        padding: 0;

        form {
            width: 80%;
            margin-left: 10%;

            .form-name {
                margin-top: 6%;
                .name {
                    font-size: 20px;
                    font-weight: 600;
                }
            }
            .form-quantite {
                margin-top: 6%;
                .quantite {
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            .form-date {
                margin-top: 6%;
                .date {
                    font-size: 20px;
                    font-weight: 600;
                }
                #date {
                    margin-top: 3%;
                    margin-top: 3%;
                    padding: 3%;
                    background-color: #fff;
                    border: 0.5px solid lightgray;
                    margin-bottom: 7%;
                    border-radius: 9px;
                }
            }


            .btn-submit {
                text-align: center;
                margin-top: 50%;
                button {
                    color: #fff;
                    background-color: #827EF2;
                    padding: 3% 8%;
                    font-size: 18px;
                    border: none;
                    border-radius: 8px;
                }
            }
        }
    }
}

.create-treatment {
    .card-body {
        margin-top: 15%;
        flex: 0;
        padding: 0;

        form {
            width: 80%;
            margin-left: 10%;

            .form-name {
                margin-top: 6%;
                .name {
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            .form-quantite {
                margin-top: 6%;
                .quantite {
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            .form-date {
                margin-top: 6%;
                .date {
                    font-size: 20px;
                    font-weight: 600;

                }
                #date {
                    margin-top: 3%;
                    margin-top: 3%;
                    padding: 3%;
                    background-color: #fff;
                    border: 0.5px solid lightgray;
                    margin-bottom: 7%;
                    border-radius: 9px;
                }
            }


            .btn-submit {
                text-align: center;
                margin-top: 50%;
                button {
                    color: #fff;
                    background-color: #827EF2;
                    padding: 3% 8%;
                    font-size: 18px;
                    border: none;
                    border-radius: 8px;
                    box-shadow: 1px 5px 8px lightgrey;
                }
            }
        }
    }
}