.container-vaccine {
    a {
        color: #000;
        text-decoration: none;
    }

    .container {
        &:first-child {
            margin-top: 18%;
        }
        margin-top: 6.4%;
    }
    p {
        margin: 0;
    }

    .vaccine-card {
        width: 88%;
        margin-left: 6%;
        background-color: #fff;
        border-radius: 9px;
        padding: 2.5% 6%;
        display: flex;
        flex-direction: row;

        .date-vaccine {
            width: 30%;
            display: flex;
            flex-direction: column;
            .day {
                p {
                    font-size: 32px;
                }
            }
            .month_year {
                display: flex;
                flex-direction: row;
                .month {
                    margin-right: 6%;
                    p {
                        font-size: 12px;
                    }
                }
                .year {
                    p {
                    font-size: 12px;
                    }
                }
            }
        }

        .info-vaccine {
            width: 70%;
            align-self: center;
            padding-left: 10%;

            .vaccine-name, .vaccine-type, .vaccine-date, .vaccine-dose {
                p {
                    font-size: 20px;
                }
            }

        }

    }
}

.add-vaccine {
    margin-top: 30%;
}
.btn-submit {
    text-decoration: none;
    text-align: center;
    margin-top: 50%;
    color: #fff;
    background-color: #827EF2;
    padding: 3% 8%;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 5px 8px lightgrey;
}
.vaccine-details {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
    .card-vaccine-detail {
        width: 85%;
        margin-left: 7.5%;
        background-color: white;
        border-radius: 10px;
        .vaccine-container {
            padding-top: 5%;
            .vaccine-type, .vaccine-name, .vaccine-date, .vaccine-dose {
                text-align: left;
                margin-left: 20%;
                span {
                    font-size: 20px;
                    margin-right: 4%;
                }
            }
        }
    }
    .edit-pet {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10%;

        a {
            width: 40%;
            font-size: 18px;
            margin-right: 2.5%;
            background-color: #827EF2;
            border-color: transparent;
        }

        form {
            width: 40%;

            button {
                width: 100%;
                font-size: 18px;
                color: #fff;
                background-color: #FF6F6F;
                border-color: transparent;
            }
        }
    }
}

.edit-vaccine {
    .card-body {
        margin-top: 15%;
        flex: 0;
        padding: 0;

        form {
            width: 80%;
            margin-left: 10%;

            .form-type {
                .type {
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            .form-name {
                margin-top: 6%;
                .name {
                    font-size: 20px;
                    font-weight: 600;
                }
            }
            .form-dose {
                margin-top: 6%;
                .dose {
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            .form-date {
                margin-top: 6%;
                .date {
                    font-size: 20px;
                    font-weight: 600;
                }
            }


            .btn-submit {
                text-align: center;
                margin-top: 50%;
                button {
                    color: #fff;
                    background-color: #827EF2;
                    padding: 3% 8%;
                    font-size: 18px;
                    border: none;
                    border-radius: 8px;
                }
            }
        }
    }
}

.create-vaccine {
    .card-body {
        margin-top: 15%;
        flex: 0;
        padding: 0;

        form {
            width: 80%;
            margin-left: 10%;

            .form-type {
                .type {
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            .form-name {
                margin-top: 6%;
                .name {
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            .form-dose {
                margin-top: 6%;
                .dose {
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            .form-date {
                margin-top: 6%;
                .date {
                    font-size: 20px;
                    font-weight: 600;

                }
            }


            .btn-submit {
                text-align: center;
                margin-top: 50%;
                button {
                    color: #fff;
                    background-color: #827EF2;
                    padding: 3% 8%;
                    font-size: 18px;
                    border: none;
                    border-radius: 8px;
                    box-shadow: 1px 5px 8px lightgrey;
                }
            }
        }
    }
}