
    .veterinary-details {
        margin-top: 17%;

        .veterinary-card {
            background-color: white;
            width: 75%;
            margin-left: 12.5%;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            padding-bottom: 10%;
            box-shadow: 1px 2px 5px lightgrey;

            .veterinary-img {
                align-self: center;
                margin-top: -13%;
                img {
                    border-radius: 40px;
                }
            }
            .veterinary-name {
                align-self: center;
                font-size: 18px;
                font-weight: 600;
                margin-top: 10%;
            }
            .veterinary-contacts {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                margin-top: 16%;
                .veterinary-mail {
                    padding: 3% 5%;
                    background-color: #B73BAA;
                    border-radius: 23px;
                    p {
                        display: none
                    }
                    &:hover {
                        padding: 0 5%;
                        svg {
                            display: none;
                        }
                        p {
                            display: block;
                            font-size: 12px;
                            color: #ffffff;
                            margin: 7% 0;
                        }
                    }
                }
                .veterinary-location {
                    padding: 3% 5%;
                    background-color: #7977EE;
                    border-radius: 23px;
                    p {
                        display: none
                    }
                    &:hover {
                        padding: 0 5%;
                        svg {
                            display: none;
                        }
                        p {
                            display: block;
                            font-size: 12px;
                            color: #ffffff;
                            margin: 22% 0;
                        }
                    }
                }
                .veterinary-urgency {
                    padding: 3% 4%;
                    background-color: #FF3E01;
                    border-radius: 23px;
                    p {
                        display: none
                    }
                    &:hover {
                        padding: 0 5%;
                        svg {
                            display: none;
                        }
                        p {
                            display: block;
                            font-size: 12px;
                            color: #ffffff;
                            margin: 12% 0;
                        }
                    }
                }
            }
        }
        .infos-details {
            margin-left: 13%;
            margin-top: 6%;
            .veterinary-address, .veterinary-zipcode,
            .veterinary-city, .veterinary-phone {
                margin-top: 4.2%;
                p {
                    margin: 0;
                    &:first-child {
                        opacity: 0.7;
                        font-size: 16px;
                    }
                    font-size: 18px;
                }
            }
        }
    }


.container-veterinary-profile {
    a {
        color: #000;
        text-decoration: none;
    }
}
.add-veterinary {
    text-align: center;
    margin-top: 10%;
    padding-bottom: 5%;

    a {
        padding: 2% 7%;
        background-color: #827EF2;
        border-color: transparent;
        font-size: 18px;
        border-radius: 10px;
        margin-left: 0;
    }
}
.create-veterinary {
    margin-left: 0;
    margin-top: 10%;
    padding-bottom: 10%;

    .form-name, .form-lastname {
        margin-top: 5%;
        padding: 0 10%;
        .name, .lastname, .adress, .zipcode,
        .city, .phone, .email {
            font-size: 18px;
            font-weight: 600;
        }
        .form-control  {
            box-shadow: 1px 5px 5px lightgrey;
            padding: 4%;
            background-color: #fff;
            border: none;
            margin-bottom: 7%;
            border-radius: 9px;
        }
    }
    .btn-submit {
        margin-top: 10%;
        margin-left: 50%;
    }
}

.edit-veterinary {
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;

    a {
        width: 40%;
        font-size: 18px;
        margin-right: 2.5%;
        background-color: #827EF2;
        border-color: transparent;
    }

    form {
        width: 40%;

        button {
            width: 100%;
            font-size: 18px;
            color: #fff;
            background-color: #FF6F6F;
            border-color: transparent;
        }
    }
}

.edit-veterinary-form {
    .btn-submit {
        margin-top: 10%;
    }
}